<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{page.title}} | {% endif %}Just meat.</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="author" content="Michael Goldstein">
  <meta name="description" content="Carnivorous eating, paleolithic ketogenic diet and medicine, and zero carb lifestyle. Don’t bother with vegetables. Just eat meat." />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@bitstein">
  <meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}Just meat.{% endif %}" />
  {% if page.is_article %}
  <meta property="og:type" content="article" />
  <meta property="og:article:author" content="{{page.author}}" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  {% if page.description %}
  <meta property="og:description" content="{{page.description}}" />
  <meta property="twitter:description" content="{{page.description}}" />
  {% else %}
  <meta property="og:description" content="Carnivorous eating, paleolithic ketogenic diet and medicine, and zero carb lifestyle. Don’t bother with vegetables. Just eat meat." />
  {% endif %}
  <meta property="og:image" content="https://justmeat.co/img/mammoth-hunt.jpg" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script>
  if( navigator.doNotTrack != "yes" && navigator.doNotTrack != "1" && window.doNotTrack != "1" && navigator.msDoNotTrack != "1" ){
    var script = document.createElement('script');
  	script.src = "/js/analytics.js"
  	document.getElementsByTagName("head")[0].appendChild(script);
  }
  </script>
</head>
