---
layout: default
---

<div class="archive-container container col-md-8">
  {% include breadcrumb.html backlink='/archives/' %}
  <hr />
  <article>
   <header class="text-center">
     <h1>{{page.title}}</h1>
     <span class="archive-author">{{page.author}}</span>
     <span class="archive-date">{% if page.special_date %}{{page.special_date}}{% else %}{{page.date}}{% endif %}</span>
     {% if page.source %}
     <span class="archive-notes">Originally published
       {% if page.source_url %}at{% else %}in{% endif %}
       {% if page.source_url %}<a href="{{page.source_url}}">{{page.source}}</a>
       {% else %}{{page.source}}{% endif %}</span>
     {% endif %}
   </header>
   <hr class="header-separator" />
   {{content}}
  </article>
  <hr />
  {% include breadcrumb.html backlink='/archives/' %}
</div>
